
.DS_Store

.vscode/

.venv/

testing.txt

__pycache__*/

RDSLight/config.py

.idea
memory.json

memory.txt

mainBackup.py

RDS_GPT3.5.py

gpt4.txt

gpt4RDS.txt
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/RDS.iml
/.idea/vcs.xml